@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Header */
header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    background-color: rgb(194, 188, 188);
    box-shadow: 0px 5px 10px rgb(160, 160, 160);

    & img {
        width: 50px;
        cursor: pointer;
    }

    & h1 {
        cursor: pointer;
    }
}

/* Main */
main {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;

    #library-info {
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        align-items: space-around;
        gap: 20px;
        text-transform: capitalize;

        #infoBook,
        #infoCompleted,
        #infoPage {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            & p {
                display: inline-block;
            }
        }
    }

    #library-container {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px;
        padding: 20px 40px;

        .addButton {
            width: 150px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid grey;
            box-shadow: 0 5px 10px rgb(187, 187, 187);
            border-radius: 10px;
            margin-top: 20px;
            cursor: pointer;

            & span {
                font-size: 50px;
                font-weight: bold;
                cursor: pointer;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .2s ease-in;
            }

            & span:hover {
                font-size: 100px;
                transition: .2s ease-in;
                color: yellowgreen;
            }
        }

        .book-list {
            height: 80vh;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
            grid-template-rows: repeat(auto-fit, 200px);
            gap: 10px;
            box-shadow: 0 5px 10px rgb(177, 175, 175);
            border-radius: 10px;

            .book {
                width: 450px;
                height: 200px;
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                border-radius: 10px;
                box-shadow: 0 5px 10px rgb(187, 187, 187);

                & img {
                    width: 120px;
                    height: 160px;
                    border-radius: 8px;
                }

                .description {
                    display: grid;
                    gap: 10px;

                    .buttons {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        & button {
                            padding: 10px 20px;
                            border-radius: 50px;
                            font-weight: 600;
                            color: white;
                        }

                        .complete {
                            background-color: rgb(25, 133, 25);
                            border: 2px solid rgb(25, 133, 25);
                            transition: .2s ease-in;
                            cursor: pointer;
                        }

                        .not-complete {
                            border: 2px solid rgb(255, 166, 0);
                            background-color: rgb(255, 166, 0);
                            transition: .2s ease-in;
                            cursor: pointer;
                        }

                        .complete:hover {
                            background-color: white;
                            color: rgb(25, 133, 25);
                            transition: .2s ease-in;
                        }

                        .not-complete:hover {
                            background-color: white;
                            color: rgb(255, 166, 0);
                            transition: .2s ease-in;
                        }

                        & span {
                            font-size: 35px;
                            transition: .2s ease-in;
                            cursor: pointer;
                        }

                        & span:hover {
                            color: red;
                            transition: .2s ease-in;
                            transform: scale(1.1);
                        }
                    }
                }
            }

            & .empty {
                width: 100%;
                height: 700px;
                grid-column: 1/4;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                & img {
                    object-fit: contain;
                    height: 100%;
                }
            }
        }
    }
}

/* Dialog - Form */
dialog {
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -220px;
    margin-top: -320px;
    text-transform: capitalize;
    overflow: visible;

    .close {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        top: -20px;
        right: -20px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        background-color: white;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid black;
    }

    .close:hover {
        color: red;
        transition: .2s ease;
    }

    & form {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-weight: 500;

        & legend {
            font-weight: bold;
            text-align: center;
            font-size: 30px;
            padding: 20px;
        }

        & input {
            padding: 5px;
        }

        & input:focus {
            outline: none;
            border: 2px solid green;
        }

        .status-box input,
        .status-box label {
            cursor: pointer;
        }

        & button {
            padding: 10px 80px;
            border-radius: 20px;
            justify-self: center;
            margin-top: 20px;
            text-transform: capitalize;
            font-weight: bold;
            border: 2px solid grey;
            cursor: pointer;
            transition: .2s ease-in;
        }

        & button:hover {
            background-color: grey;
            color: white;
            transition: .2s ease-in;
        }
    }
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* Media Query */
@media screen and (max-width: 430px) {

    body {
        height: auto;
    }

    header {
        justify-content: center;
    }

    main {
        display: flex;
        flex-direction: column;

        #library-info {
            text-align: center;
            padding-bottom: 5px;
        }

        #library-container {
            grid-template-rows: auto 1fr;
            grid-template-columns: 1fr;

            .addButton {
                justify-self: center;
                width: 100%;
            }

            .book-list {
                display: flex;
                flex-direction: column;

                .book {
                    flex-direction: column;
                    justify-content: start;
                    width: auto;
                    height: auto;
                    gap: 20px;
                    text-align: center;

                    .buttons {
                        flex-direction: column;
                        gap: 10px;
                    }
                }

                .empty {
                    & img {
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }

        & dialog#addBook {
            margin-left: -46%;
            margin-top: -320px;
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        height: auto;
    }

    #library-container {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }

    .addButton {
        grid-column: 1/3;
        justify-self: center;
        width: 100%;
    }

    .book-list {
        grid-column: 1/3;
        display: flex;
        flex-direction: column;

        .empty {
            & img {
                height: auto;
                width: 100%;
            }
        }
    }
}